/*global styles*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

header, body{
    background-color:#435D7A;
}

header{
    border-bottom: solid #D4E6FA 2px; 
}

/*navigation*/

#navbar{
    height: 15vh;
    width: 70vw;
    padding: 20px 50px 20px 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation{
    font-size: 1.8rem;
    display: flex;
}

.navigation li a{
    margin-left: 60px;
    color: #D4E6FA;
}


a:hover{
    text-decoration: solid underline #D4E6FA 3px;
}

.navBars{
    display: none;
}

.fa-bars{
    display: none;
}

.logo{
    max-height: 80px;
}


/*Main Body*/


.intro{
    width: 70vw;
    padding: 100px 100px 20px 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1{
    font-size: 4rem;
    color: white;
    padding-bottom: 20px;
}

h2{
    font-size: 2.5rem;
    color: white;
}

.skills{
    background-color: #D4E6FA;
}

.skill-set{
    width: 70vw;
    height: 100px;
    margin: 0 auto;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*About Me Page */
.main-profile{
    width: 60vw;
    margin: 0 auto;
    padding: 50px 50px;
    display: flex;
    flex-direction: column;
}


.profile{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.profile h1{
    margin-left: 50px;
}

.profile-pic{
    border-radius: 50%;
    height: 150px;
}

.profile-bio{
    margin-top: 60px;
    font-size: 1.2rem;
    color: #D4E6FA;
}

.technologies{
    margin-top: 50px;
    font-size: 1.2rem;
    color: #D4E6FA;
}

.technologies p{
    margin-bottom: 10px;
}


.tech-applications li{
    list-style: square;
    margin-left: 60px;
    margin-bottom: 5px;
}

/*Projects*/
.projects{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 200px auto;
}


/*Contact Me */
.contact-info{
    height: 65vh;
    width: 60vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-info > p{
    font-size: 1.8rem;
    color: #D4E6FA;
    text-align: center;
    padding: 10px 0px 100px 0px;
}

.contact-links{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.fa-linkedin, .git-link, .fa-envelope{
    color: #D4E6FA;
    font-size: 3.5rem;
}

.fa-linkedin:hover, .git-link:hover, .fa-envelope:hover{
    font-size: 4.5rem;
}


/*footer*/
footer{
    margin: 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #D4E6FA;
}

.footer-logo{
    height: 50px;
    width: auto;
}
/*Media Queries*/

@media (max-width: 768px){
    .intro{
        flex-direction: column-reverse;
    }

    .navigation{
        display: none;
    }

    .navBars{
        display: block;
        background-color:#435D7A;
        border: none;
    }

    .fa-bars{
        display: block;
        color: #D4E6FA;
    }
    
    .profile{
        flex-direction: column-reverse;
        align-items: center;
    }

    .navigation-menu{
        display: flex;
        flex-direction: column;
    }

    .navigation-menu li a{
        color: #435D7A;
        font-size: 2.5rem;
    }

    .hidden{
        display: none;
    }

    .mobileHeader{
        background-color:#D4E6FA;
        border-bottom: none;
        padding: 100px 0px;
    }

    .fa-times{
        background-color: #D4E6FA;
        color: #435D7A;
    }

    a:hover{
        text-decoration: solid underline #435D7A 3px;
    }

}